.favorites{
    width: 100%;
   
    padding: 5%;
}
.favorites__title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 14px;
    color: gray;
    text-transform: uppercase;
}
.container__items{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-row-gap: 30px;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-around;
}