.favorites{
    width: 100%;
    height: fit-content;
    padding: 5%;
}
.favorites__title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 14px;
    color: gray;
    text-transform: uppercase;
}