.featured{
    padding: 0 1% 5% 10% ;
    width: 50%;
    height: fit-content;
}
.featured__title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 14px;
    color: gray;
    text-transform: uppercase;
}