.header{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    border-bottom: 1px solid #ccc;
}
.header_logo--img{
    width: 150px;
    height: 70px;
}
.header_profile{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100px;
    height: 70px;
}
.header_profile a img{
    width: 40px;
    height: 40px;
    padding: 5px;
}
@media screen and (max-width: 600px){
    .header_profile--cart{
        display: none
    }
}