.featured__options{
    width: 45%;
    height: 20%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}
.featured__options--list{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: stretch;
}
.featured__options--list a{
    text-decoration: none;
    color: lightslategrey;
    border: 2px solid yellowgreen;
    border-radius: 25px;
    margin: 10px 0;
    height: 30px;
    padding: 10px 0 0 0;
}
.featured__options--list a:hover{
    color: white;
    font-weight: bold;
    background-color: yellowgreen;
}
.list__item{
    list-style: none;
}