.summary__item{
    width: 50%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: "photo description"
                        "photo description"
                        "photo details";
}
.summary__item--image{
    grid-area: photo;

}
.summary__item--image img{
    width: 80px;
    
}
.summary__item--description{
    grid-area: description;
}
.summary__item--content_details{
    grid-area: details;
}
.summary__item--content_details{
    display: flex;
    align-items: center;
    width: 70%;
    height: 30px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}
.summary__item--content_details img{
    width: 16px;
    height: 16px;
}
.summary__item--content_details-resume{
    padding-right: 10px;
}
.summary__item--content_details-resume img{
    width: 20px;
    height: 20px;
}
