.container{
    min-height: 100vh;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    padding: 20%;
}
.container__title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: yellowgreen;
}
.container__subtitle{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: grey;
}
